#menu{
    position: absolute;
    z-index: 2;
}

#chatwrap{
    position: absolute;
    left: 800px;
}

body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}